@model TwelveDataPriceViewModel 
@{
    ViewData["Title"] = "Real Time Price";
}

<div class="text-center col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <h1 class="display-4">Real Time Price</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="card shadow p-3">
            <div class="card-body">
                <h5 class="card-title">Submit currency</h5>
                <input asp-for="Symbol" class="form-control form-control-lg w-50 mx-auto" type="text" placeholder="Currency">
                <br />
                <button type="submit" class="btn btn-primary text-uppercase">Check price</button>
            </div>
        </div>
    </form>
        @*<div class="alert alert-primary shadow p-3" role="alert">
                @Model.Symbol - @Model.Price
            </div>*@
</div>
